<!doctype html>
<html>
<head>
    <title>Privacy Policy</title>
</head>

<body>
    <h1><a href="/">Sign-in Demo</a> Privacy Policy</h1>

    <p>
        This application demonstrates how to use Google Sign-in to
        authenticate visitors. If you choose to 
        <a href="unauthenticated">sign in</a> with Google, the application
        will receive your email address.
    </p>

    <p>
        User data is never stored on this server. Instead, your email address
        will be stored in your own web browser, in an encrypted cookie. That
        cookie will be sent to this application's server whenever a web page
        is requested. It will not be sent to other web sites.
    </p>

    <p>The cookie will automatically be deleted when you close your browser.</p>
</body>
</html>